@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* .navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 1vw 8vw;
    display: flex;
    z-index: 999;
    background-color: black;
}

nav img {
    width: 80px;
    cursor: pointer;
    border-radius: 20%;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* HOME */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("image/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;

}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

#home a.yellow {
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color: #FDC93B;
    background: #fff;
}

/* features */
#features {
    padding: 5vw 5vw 5vw 5vw;
    text-align: center;
    background-color: lightyellow;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background-color: #F9F9FF;
    text-align: start;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 5px;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(46, 46, 59);
}

/* COURSE */
#course {
    padding: 5vw 5vw 5vw 5vw;
    text-align: center;
    background-color: lightgray;
}

#course .courses {
    text-align: start;
    background-color: lightblue;
    height: 100%;
    border-radius: 5px;
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;

}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;

}

#course .courses .details {
    padding: 15px 15px 0 15px;
}

#course .courses .details i {
    color: #FDC93B;
    font-size: .9rem;
}

#course .courses .btn {
    margin-top: 30px;
    padding: 15px 15px 15px 15px;

}

#course .courses .btn a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#course .courses .btn a.blue {
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;

}

#course .courses .btn a:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

/* REGISTRATION  */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
        url(image/footer.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .reminder {
    color: #fff;
}

#registration .reminder h1 {
    color: #fff;
}

#registration .reminder .time {
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}

#registration .form {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}

#registration .form a.yellow {
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;
}

#registration .form a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

#registration a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#registration .form .btn {
    margin-top: 20px;
}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

/* footer */
.footer {
    padding: 20px;
    background-color: black;
    color: white;
}

.footer .footerDiv p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footerDiv p a {
    color: white;
    text-decoration: none;
}


/* responsive pages */

@media (max-width:1170px) {}

@media (max-width:991px) {

    /* #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

}

@media(max-width:769px) {
    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 60px;
        border-radius: 20%;
    }

    #home {
        padding-top: 0;
    }

    #home p {
        width: 90%;
    }

    #features {
        padding: 8vw 4vw 4vh 4vw;
    }

    #course {
        padding: 8vw 4vw 4vw 4vw;
    }

    #registration {
        padding: 6vm 4vw 6vw 4vw;
    }

    #registration .reminder h1 {
        font-size: 40px;
    }

    #registration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    #course .courses .btn {
        margin-top: 30px;
        padding: 10px 10px 10px 10px;

    }

}

@media(max-width:490px) {
    #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #course .courses .btn {
        margin-top: 30px;
        padding: 15px 15px 15px 15px;
        margin-bottom: 20px;

    }
}